POSTGRES_HOST=ep-sparkling-night-agj1zen6.c-2.eu-central-1.aws.neon.tech
POSTGRES_PORT=5432
POSTGRES_DB=neondb
POSTGRES_USER=etl_writer
POSTGRES_PASSWORD=replace-with-staging-writer-password
POSTGRES_SSLMODE=require
