version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: npp_postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: npp_database
    ports:
      - "8000:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    tmpfs:
      - /var/lib/postgresql/data

volumes:
  postgres_data:
    driver: local